.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside

# SwiftPM
.build/
Package.resolved

# Secrets
.env
*.p12
*.mobileprovision
*.cer

# python
__pycache__/
*.pyc
