<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.sollabshq.solmobile.cleanup</string>
		<string>com.sollabshq.solmobile.outboxRefresh</string>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>SolMobile needs calendar access to save events from conversations.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SolMobile uses your location to attach context to journal moments.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>SolMobile needs reminders access to save tasks from conversations.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>SOLSERVER_BASE_URL_PROD</key>
	<string>https://api.sollabshq.com</string>
	<key>SOLSERVER_BASE_URL_STAGING</key>
	<string>https://solserver-staging.sollabshq.com</string>
	<key>LATTICE_DEV_BADGE</key>
	<string>0</string>
	<key>SOL_ENV</key>
	<string>prod</string>
</dict>
</plist>
