<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.sollabshq.solmobile.cleanup</string>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>SolMobile needs calendar access to save events from conversations.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>SolMobile needs reminders access to save tasks from conversations.</string>
</dict>
</plist>
